.visiting-rules
    padding-bottom 50px
    
    @media (min-width 580px)
        margin auto

    ul
        list-style-type none
        padding-left 0
        margin-bottom 0
        
        li
            font-size 14px
            color #FFF
            line-height 18px
            position relative
            padding-left 10px
            margin-bottom 15px
            &:before
                content ''
                position absolute
                top 8px
                left 0
                width 3px
                height 3px
                border-radius 50%
                background-color #fff