<div block="visiting-rules">
    <div elem="section">
        <div elem="inner" class="contain">
            <div elem="body">
                <h1>Правила посещения</h1>
                <h2>Общая информация</h2>
                <p>С целью сохранности коллекции и в интересах разных категорий посетителей в музее установлены Правила посещения. Они определяют порядок обслуживания посетителей, а также разъясняют, что можно, а чего нельзя делать в музейных залах и помещениях. Это своего рода кодекс поведения в музее.</p>
                <br>
                <h2>Запрещается</h2>
                <ul>
                    <li>прикасаться к экспонатам, витринам и элементам интерьера;</li>
                    <li>фотографировать со вспышкой и палкой для селфи;</li>
                    <li>проводить любые фотосессии без согласования с администрацией музея;</li>
                    <li>использовать розетки для зарядки мобильных устройств и работы электроприборов;</li>
                    <li>заходить за установленные заграждения;</li>
                    <li>входить в верхней и громоздкой одежде в залы музея;</li>
                    <li>употреблять напитки и пищу в залах музея;</li>
                    <li>громко разговаривать и прослушивать аудиогиды при помощи внешних динамиков;</li>
                    <li>засорять и загрязнять территорию музея;</li>
                    <li>разговаривать по мобильному телефону в экспозиции;</li>
                    <li>находиться в нетрезвом состоянии;</li>
                    <li>передвигаться на роликах, самокатах и подобных средствах передвижения;</li>
                    <li>проводить экскурсии без оформления экскурсионной путевки;</li>
                    <li>вести коммерческую, рекламную и иную деятельность без согласования с музеем.</li>
                </ul>
            </div>
        </div>
    </div>
</div><!-- visiting-rules -->

