<div block="your-feedback">
    <div elem="section">
        <div elem="inner">
            <div elem="head">
                <h1 elem="title">Ваш отзыв</h1>
                <div elem="desc">Уважаемый посетитель! Пожалуйста, оставьте мнение о нашем музее с помощью формы обратной связи ниже.</div>
            </div>
            <form elem="form" class="js-feedback-send" action="">
                <div elem="inputs">
                    <div elem="input">
                        <input type="text" class="js-value-clean" placeholder="Имя и фамилия" required>
                    </div>
                    <div elem="input">
                        <input type="tel" class="js-value-clean phone-us" placeholder="Телефон" maxlength="18" required>
                    </div>
                    <div elem="input">
                        <input type="email" class="js-value-clean" placeholder="Электронная почта" required>
                    </div>
                    <div elem="textarea">
                        <textarea name="" class="js-value-clean" id="text_feedback" placeholder="Текст отзыва" required></textarea>
                    </div>
                </div>
                <button elem="btn-send" class="btn-general" type="submit">Отправить</button>
                <div block="popup-success" class="js-popup-success">
                    <div elem="inner" class="contain">
                        <button elem="btn-close" class="js-btn-close" type="button"><i></i></button>
                        <div elem="title">Спасибо!</div>
                        <div elem="text">
                            <p>
                                Уважаемый посетитель!
                            </p>
                            <p>
                                Спасибо за Ваш отзыв. Мы будем признательны, если Вы порекомендуете наш музей своим друзьям.
                            </p>
                        </div>
                        <button elem="btn-ok" class="btn-general js-btn-close" type="button">OK</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div><!-- your-feedback -->