.your-feedback
    margin-top 30px

    @media (max-width 480px)
        padding-left 40px
        padding-right 40px

    &__head
        margin-bottom 30px

    &__title
        margin-bottom 20px

    &__desc
        font-size 14px
        line-height 18px    
        margin-bottom 15px

    &__inputs
        margin-bottom 20px    

    &__input
        margin-bottom 20px
        border-bottom 1px solid #E1C79B

        input
            font-size 18px
            color #E1C79B 
            line-height 21px
            border none 
            background-color transparent
            width 100%
            padding-bottom 10px

        ::placeholder
            font-size 18px
            color #E1C79B 

    &__textarea
        border-bottom 1px solid #E1C79B

        textarea
            font-size 18px
            color #E1C79B 
            line-height 21px
            border none 
            background-color transparent
            width 100%
            padding-bottom 10px
            min-height 80px
            resize none
            overflow-y hidden

        ::placeholder
            font-size 18px
            color #E1C79B 

    &__btn-send
        margin 0 auto
        display block

.popup-success
    width 100%
    height 100%
    top 0
    left 0
    position fixed
    padding-top 115px
    background rgba(0, 0, 0, 0.8)
    display none

    &__inner
        padding 20px 40px
        background-color #F9F4EB

        @media (max-width 480px)
            width 340px
            padding-left 25px
            padding-right 25px
    
    &__btn-close
        background-color transparent
        border none 
        display block
        width 35px
        height 35px
        padding 0
        margin-left auto
        transform translate(35px, -5px)
        i 
            display block
            width 35px
            height 35px
            background url('../img/close-icon.svg') 0 0 no-repeat  

        @media (max-width 480px)
            transform translate(20px, -5px)  

    &__title
        font-size 24px
        line-height 28px
        color #000
        margin-bottom 20px

    &__text
        margin-bottom 70px

        p
            font-size 14px
            color #000   
            line-height 18px

    &__btn-ok
        &:hover
            color #000
            border-color #000    