::-moz-selection {
  background: #03a9f4;
  color: #fff;
  text-shadow: none;
}

::selection {
  background: #03a9f4;
  color: #fff;
  text-shadow: none;
}

h1::-moz-selection,
.h1::-moz-selection,
h2::-moz-selection,
.h2::-moz-selection,
h3::-moz-selection,
.h3::-moz-selection,
h4::-moz-selection,
.h4::-moz-selection,
h5::-moz-selection,
.h5::-moz-selection,
h6::-moz-selection,
.h6::-moz-selection,
h1 *::-moz-selection,
.h1 *::-moz-selection,
h2 *::-moz-selection,
.h2 *::-moz-selection,
h3 *::-moz-selection,
.h3 *::-moz-selection,
h4 *::-moz-selection,
.h4 *::-moz-selection,
h5 *::-moz-selection,
.h5 *::-moz-selection,
h6 *::-moz-selection,
.h6 *::-moz-selection {
  background: #ffc107;
  color: #000;
  text-shadow: none;
}

h1::selection,
.h1::selection,
h2::selection,
.h2::selection,
h3::selection,
.h3::selection,
h4::selection,
.h4::selection,
h5::selection,
.h5::selection,
h6::selection,
.h6::selection,
h1 *::selection,
.h1 *::selection,
h2 *::selection,
.h2 *::selection,
h3 *::selection,
.h3 *::selection,
h4 *::selection,
.h4 *::selection,
h5 *::selection,
.h5 *::selection,
h6 *::selection,
.h6 *::selection {
  background: #ffc107;
  color: #000;
  text-shadow: none;
}

::-webkit-input-placeholder {
  color: rgba(33,37,41,0.54);
}

:-moz-placeholder {
  color: rgba(33,37,41,0.54);
}

::-moz-placeholder {
  color: rgba(33,37,41,0.54);
}

:-ms-input-placeholder {
  color: rgba(33,37,41,0.54);
}

input:focus::-webkit-input-placeholder {
  color: transparent;
}

input:focus:-moz-placeholder {
  color: transparent;
}

input:focus::-moz-placeholder {
  color: transparent;
}

input:focus:-ms-input-placeholder {
  color: transparent;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-font-smoothing: antialiased;
  -ms-text-size-adjust: 100%;
}

article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
  display: block;
}

body {
  margin: 0;
  font-family: "HelveticaNeueCyr", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
}

[tabindex="-1"]:focus {
  outline: 0 !important;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0,0,0,0.1);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

abbr[title],
abbr[data-original-title] {
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
  cursor: help;
  border-bottom: 0;
  -webkit-text-decoration-skip-ink: none;
  text-decoration-skip-ink: none;
}

address {
  margin-bottom: 1rem;
  font-style: normal;
  line-height: inherit;
}

ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 1rem;
}

ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 0;
}

dt {
  font-weight: 700;
}

dd {
  margin-bottom: 0.5rem;
  margin-left: 0;
}

blockquote {
  margin: 0 0 1rem;
}

b,
strong {
  font-weight: bolder;
}

small {
  font-size: 80%;
}

sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

a {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
}

a:hover {
  color: #0056b3;
  text-decoration: underline;
}

a:not([href]):not([tabindex]) {
  color: inherit;
  text-decoration: none;
}

a:not([href]):not([tabindex]):hover,
a:not([href]):not([tabindex]):focus {
  color: inherit;
  text-decoration: none;
}

a:not([href]):not([tabindex]):focus {
  outline: 0;
}

pre,
code,
kbd,
samp {
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  font-size: 1em;
}

pre {
  margin-top: 0;
  margin-bottom: 1rem;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

figure {
  margin: 0 0 1rem;
}

img {
  vertical-align: middle;
  border-style: none;
}

svg {
  overflow: hidden;
  vertical-align: middle;
  -webkit-overflow-scrolling: touch;
}

table {
  border-collapse: collapse;
}

caption {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  color: #6c757d;
  text-align: left;
  caption-side: bottom;
}

th {
  text-align: inherit;
}

label {
  display: inline-block;
  margin-bottom: 0.5rem;
}

button {
  border-radius: 0;
}

button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

select {
  word-wrap: normal;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button:not(:disabled),
[type="button"]:not(:disabled),
[type="reset"]:not(:disabled),
[type="submit"]:not(:disabled) {
  cursor: pointer;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

input[type="radio"],
input[type="checkbox"] {
  box-sizing: border-box;
  padding: 0;
}

input[type="date"],
input[type="time"],
input[type="datetime-local"],
input[type="month"] {
  -webkit-appearance: listbox;
}

textarea {
  overflow: auto;
  resize: vertical;
  -webkit-overflow-scrolling: touch;
}

fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0;
}

legend {
  display: block;
  width: 100%;
  max-width: 100%;
  padding: 0;
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
  line-height: inherit;
  color: inherit;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  outline-offset: -2px;
  -webkit-appearance: none;
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  font: inherit;
  -webkit-appearance: button;
}

output {
  display: inline-block;
}

summary {
  display: list-item;
  cursor: pointer;
}

template {
  display: none;
}

[hidden] {
  display: none !important;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  -webkit-overflow-scrolling: touch;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

blockquote {
  padding: 15px;
  padding-left: 20px;
  border-left: 5px solid #03a9f4;
  background-color: rgba(3,169,244,0.03);
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-family: "HelveticaNeueCyr", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

svg:not(:root) {
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
}

.main-svg-sprite {
  display: none;
}

.svg-icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  fill: currentColor;
  font-size: 0;
}

.svg-icon__link {
  vertical-align: top;
  fill: inherit;
  width: inherit;
  height: inherit;
}

@font-face {
  font-family: 'HelveticaNeueCyr';
  src: url("../fonts/HelveticaNeueCyr-Roman.woff2") format('woff2'), url("../fonts/HelveticaNeueCyr-Roman.woff") format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeueCyr';
  src: url("../fonts/HelveticaNeueCyr-Bold.woff2") format('woff2'), url("../fonts/HelveticaNeueCyr-Bold.woff") format('woff');
  font-weight: bold;
  font-style: normal;
}

/* ==========================================================================
  Browser Upgrade Prompt
  ========================================================================== */

.browserupgrade {
  margin: $appGutter 0;
  background: #ccc;
  color: #000;
  padding: $appGutter 0;
}

.theme-color {
  color: ;
}

/**
 * The CSS class screen-reader-text
 *
 * @link https://make.wordpress.org/accessibility/handbook/markup/the-css-class-screen-reader-text/
 */

.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal !important;
  -webkit-overflow-scrolling: touch;
}

.screen-reader-text:focus {
  background-color: #eee;
  clip: auto !important;
  -webkit-clip-path: none;
          clip-path: none;
  color: #444;
  display: block;
  font-size: 1em;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000 ;
}

* {
  min-width: 0;
  min-height: 0;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.app-footer {
  -ms-flex: none;
      flex: none;
}

.app-header {
  -ms-flex: none;
      flex: none;
}

html,
body {
  color: #fff;
  margin: 0;
  padding: 0;
  background-color: #1b1b1b;
  position: relative;
}

html.home,
body.home {
  background-color: #f9f4eb;
}

html {
  min-height: 100%;
  min-height: 100vh;
}

body.scroll-lock {
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
}

.app {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  height: 100%;
  height: 100vh;
}

.app__wrapper {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  height: 100%;
  height: 100vh;
}

.app__content {
  display: -ms-flexbox;
  display: flex;
  -ms-flex: 1 0 auto;
      flex: 1 0 auto;
}

.app__main {
  -ms-flex: 1 1;
      flex: 1 1;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
}

* {
  outline: none !important;
}

h1 {
  font-size: 24px;
  color: #fff;
  line-height: 28px;
  margin-bottom: 30px;
}

h2 {
  font-size: 18px;
  color: #fff;
  line-height: 21px;
  margin-bottom: 20px;
}

p {
  font-size: 14px;
  line-height: 18px;
  color: #fff;
  margin-bottom: 15px;
}

.contain {
  width: 480px;
  max-width: 100%;
  margin: 0 auto;
}

.full-contain {
  width: 1129px;
  max-width: 100%;
  padding-left: 55px;
  padding-right: 50px;
  margin: 0 auto;
}

.btn-general {
  font-size: 16px;
  color: #000;
  line-height: 18px;
  text-align: center;
  padding: 13px 20px;
  width: 395px;
  max-width: 100%;
  border: 1px solid transparent;
  border-radius: 8px;
  background-color: #e1c79b;
  transition: border-color 0.3s, background-color 0.3s, color 0.3s;
}

.btn-general:hover {
  color: #e1c79b;
  background-color: transparent;
  border-color: #e1c79b;
}

.menu-wrp {
  position: relative;
}

.menu-wrp:before {
  content: '';
  position: absolute;
  top: 10px;
  right: -70px;
  width: 45px;
  height: 0;
  box-shadow: -20px 0px 20px 20px rgba(21,21,21,0.72);
}

.about-us {
  padding-bottom: 50px;
}

.about-us__items {
  margin-bottom: 60px;
}

.about-us__items .owl-dots {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  margin-top: 20px;
}

.about-us__items .owl-dot {
  width: 10px;
  height: 10px;
  border: 1px solid transparent;
  border-radius: 50%;
  transition: border-color 0.3s;
  margin-right: 10px;
}

.about-us__items .owl-dot:last-child {
  margin-right: 0;
}

.about-us__items .owl-dot span {
  width: 8px;
  height: 8px;
  display: block;
  border-radius: 50%;
  background: rgba(255,255,255,0.2);
  transition: background-color 0.3s;
}

.about-us__items .owl-dot.active {
  border: 1px solid #e1c79b;
}

.about-us__items .owl-dot.active span {
  background-color: transparent;
}

.about-us__body {
  font-size: 14px;
  line-height: 18px;
}

.about-us__body h1 {
  margin-bottom: 25px;
}

.about-us__body h2 {
  margin-bottom: 20px;
}

.about-us__body p {
  margin-bottom: 15px;
}

.catalog__item {
  width: 480px;
  max-width: 100%;
  height: 150px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: end;
      justify-content: flex-end;
  margin-bottom: 30px;
  padding-right: 50px;
  padding-bottom: 25px;
  padding-left: 45px;
  border-radius: 8px;
  position: relative;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
}

.catalog__item:hover {
  text-decoration: none;
}

.catalog__item:hover .catalog__img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.catalog__img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: -webkit-transform 1.5s;
  transition: transform 1.5s;
  transition: transform 1.5s, -webkit-transform 1.5s;
}

.catalog__body {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: end;
      justify-content: flex-end;
  position: relative;
  z-index: 2;
}

.catalog__desc {
  font-size: 14px;
  line-height: 16px;
  color: #bbb;
  margin-bottom: 5px;
}

.catalog__name {
  font-size: 20px;
  color: #fff;
  font-weight: bold;
  line-height: 23px;
}

.contacts {
  padding-bottom: 50px;
}

.contacts__map {
  margin-bottom: 30px;
}

.cookies {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #d8d8d8;
  z-index: 55;
}

.cookies__section {
  width: 395px;
  max-width: 100%;
  margin: 0 auto;
}

.cookies__section p {
  font-size: 14px;
  color: #fff;
  line-height: 16px;
  margin-bottom: 30px;
}

.cookies__section p a {
  color: #000;
}

.cookies__section p a:hover {
  color: #000;
}

.cookies__btn-ok:hover {
  color: #000;
  border-color: #000;
}

.lang-selection {
  height: 100%;
  padding-bottom: 80px;
}

.lang-selection__section {
  height: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-direction: column;
      flex-direction: column;
}

.lang-selection__inner {
  margin: auto;
}

.lang-selection__title {
  margin-bottom: 40px;
}

.lang-selection__title .logo__name {
  margin: 0 auto;
  color: #1b1b1b;
}

.lang-selection__title .logo__name:hover {
  color: #1b1b1b;
}

.lang-selection__items {
  width: 130px;
  margin: 0 auto;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: center;
      justify-content: center;
  margin-top: auto;
}

.lang-selection__link {
  color: #864e47;
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 25px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  position: relative;
}

.lang-selection__link:last-child {
  margin-bottom: 0;
}

.lang-selection__link:before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 0;
  height: 2px;
  background-color: #864e47;
  transition: width 0.3s, background-color 0.3s;
}

.lang-selection__link:hover {
  color: #864e47;
  text-decoration: none;
}

.lang-selection__link:hover:before {
  width: 100%;
}

.lang-selection__flag {
  -ms-flex: 0 0 24px;
      flex: 0 0 24px;
  width: 24px;
  max-width: 24px;
  margin-right: 8px;
}

.lang-selection__flag img {
  max-width: 100%;
  height: auto;
}

.logo__name {
  font-size: 32px;
  color: #fff;
  line-height: 24px;
  font-weight: bold;
  text-align: center;
  width: 100px;
  display: block;
}

.logo__name:hover {
  color: #fff;
  text-decoration: none;
}

.main-menu {
  width: 100%;
  height: 100%;
  display: -ms-flexbox;
  display: flex;
  background-color: #f9f4eb;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s, ease 0.3s;
  z-index: -1;
}

.main-menu.show-main-menu {
  opacity: 1;
  visibility: visible;
  z-index: 50;
}

.main-menu__section {
  margin: auto;
}

.main-menu__btn-close {
  font-size: 16px;
  color: #864e47;
  line-height: 18px;
  text-align: center;
  background-color: transparent;
  padding: 0;
  border: none;
  position: relative;
}

.main-menu__btn-close:before {
  content: '';
  position: absolute;
  right: 0;
  bottom: -2px;
  width: 0;
  height: 2px;
  background-color: #864e47;
  transition: width 0.3s, background-color 0.3s;
}

.main-menu__btn-close:hover {
  text-decoration: none;
}

.main-menu__btn-close:hover:before {
  width: 100%;
}

.main-menu__inner {
  width: 235px;
  margin: 0 auto;
}

.main-menu__title {
  font-size: 32px;
  color: #1b1b1b;
  font-weight: bold;
  line-height: 24px;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.main-menu__nav ul {
  padding-left: 0;
  margin-bottom: 35px;
  list-style-type: none;
}

.main-menu__nav ul li {
  margin-bottom: 25px;
}

.main-menu__nav ul li:last-child {
  margin-bottom: 0;
}

.main-menu__nav ul li a {
  font-size: 24px;
  color: #864e47;
  line-height: 28px;
  position: relative;
}

.main-menu__nav ul li a:before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 0;
  height: 2px;
  background-color: #864e47;
  transition: width 0.3s, background-color 0.3s;
}

.main-menu__nav ul li a:hover {
  text-decoration: none;
}

.main-menu__nav ul li a:hover:before {
  width: 100%;
}

.polic-privacy {
  font-size: 14px;
  line-height: 16px;
  color: #864e47;
  display: block;
}

.polic-privacy:hover {
  color: #864e47;
}

.page-scroller {
  opacity: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: fixed;
  z-index: 1050;
  right: 20px;
  bottom: 20px;
  width: 60px;
  height: 60px;
  background-color: rgba(3,169,244,0.1);
  cursor: pointer;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  transition: opacity 0.16s linear;
  pointer-events: none;
}

.page-scroller__ctrl {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -12px;
  margin-left: -12px;
  fill: #666;
  width: 24px;
  height: 24px;
  transition: -webkit-transform 0.25s ease-in-out;
  transition: transform 0.25s ease-in-out;
  transition: transform 0.25s ease-in-out, -webkit-transform 0.25s ease-in-out;
}

.page-scroller:hover,
.page-scroller:focus {
  background-color: rgba(3,169,244,0.12);
}

.page-scroller:active {
  background-color: rgba(3,169,244,0.14);
}

.page-scroller--memorized .page-scroller__ctrl {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.page-scroller--memorized,
.page-scroller--visible {
  opacity: 1;
  pointer-events: auto;
}

.privacy {
  padding-bottom: 50px;
}

.privacy__inner p a {
  font-size: 14px;
  line-height: 18px;
  color: #fff;
}

.privacy__inner p a:hover {
  color: #fff;
}

.search {
  padding-bottom: 50px;
}

.search__not-found {
  text-align: center;
  margin-bottom: 70px;
}

.search__not-found-icon {
  width: 100px;
  margin: 0 auto 25px;
}

.search__not-found-icon img {
  max-width: 100%;
  height: auto;
}

.search__not-found-title {
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  margin-bottom: 25px;
}

.search__not-found-text {
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: #bbb;
  width: 235px;
  margin: 0 auto;
}

.search__form {
  width: 395px;
  max-width: 100%;
}

.search__form--error-resault {
  margin: 0 auto;
}

.search__inputs {
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 45px;
  border-bottom: 1px solid #e1c79b;
}

.search__inputs input {
  font-size: 18px;
  color: #e1c79b;
  line-height: 21px;
  border: none;
  background-color: transparent;
  width: 100%;
  padding-bottom: 10px;
}

.search__inputs ::-webkit-input-placeholder {
  font-size: 18px;
  color: #e1c79b;
}

.search__inputs ::-moz-placeholder {
  font-size: 18px;
  color: #e1c79b;
}

.search__inputs :-ms-input-placeholder {
  font-size: 18px;
  color: #e1c79b;
}

.search__inputs ::-ms-input-placeholder {
  font-size: 18px;
  color: #e1c79b;
}

.search__inputs ::placeholder {
  font-size: 18px;
  color: #e1c79b;
}

.search__btn-s {
  -ms-flex: 0 0 20px;
      flex: 0 0 20px;
  width: 20px;
  max-width: 20px;
  height: 20px;
  display: block;
  padding: 0;
  border: none;
  background-color: transparent;
}

.search__btn-s .svg-icon--search-icon {
  width: 20px;
  display: block;
  fill: #e1c79b;
}

.search__gloss {
  margin-top: 50px;
}

.search__gloss-title {
  font-size: 18px;
  line-height: 21px;
  font-weight: bold;
  margin-bottom: 25px;
}

.search__gloss-text {
  font-size: 14px;
  line-height: 18px;
  padding-right: 65px;
}

.search__gloss-text p {
  margin-bottom: 25px;
}

.showpiece {
  padding-bottom: 40px;
}

.showpiece__items {
  width: 285px;
  margin-right: auto;
  margin-bottom: 60px;
  margin-left: auto;
  position: relative;
}

.showpiece__items:before {
  content: '';
  position: absolute;
  top: 20px;
  left: 17px;
  width: 250px;
  height: 251px;
  background-color: #864e47;
  border-radius: 7px;
  z-index: 2;
}

.showpiece__items:after {
  content: '';
  position: absolute;
  top: 45px;
  left: -9px;
  width: 302px;
  height: 199px;
  background-color: rgba(134,78,71,0.5);
  border-radius: 7px;
  z-index: 1;
}

.showpiece__items .owl-stage-outer {
  z-index: 5;
}

.showpiece__items .owl-item {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
}

.showpiece__items .owl-dots {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  margin-top: 20px;
}

.showpiece__items .owl-dot {
  width: 10px;
  height: 10px;
  border: 1px solid transparent;
  border-radius: 50%;
  transition: border-color 0.3s;
  margin-right: 10px;
}

.showpiece__items .owl-dot:last-child {
  margin-right: 0;
}

.showpiece__items .owl-dot span {
  width: 8px;
  height: 8px;
  display: block;
  border-radius: 50%;
  background: rgba(255,255,255,0.2);
  transition: background-color 0.3s;
}

.showpiece__items .owl-dot.active {
  border: 1px solid #e1c79b;
}

.showpiece__items .owl-dot.active span {
  background-color: transparent;
}

.showpiece__item {
  width: 200px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: start;
      justify-content: flex-start;
  border-radius: 7px;
  background: #fff;
}

.showpiece__img {
  -ms-flex: 0 0 175px;
      flex: 0 0 175px;
  width: 175px;
  max-width: 175px;
  padding-top: 25px;
  padding-bottom: 35px;
  margin: 0 auto;
}

.showpiece__img img {
  max-width: 100%;
  height: auto;
}

.showpiece__head {
  font-size: 14px;
  line-height: 16px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  margin-bottom: 15px;
}

.showpiece__brends {
  color: #bbb;
}

.showpiece__model {
  color: #e1c79b;
}

.audio-player {
  margin-top: 30px;
  margin-bottom: 30px;
}

.audio-player__player {
  margin-bottom: 30px;
}

.audio-player .plyr__controls {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: center;
      justify-content: center;
  background-color: transparent;
  padding: 0;
}

.audio-player .plyr__controls__item.plyr__control:first-child {
  width: 54px;
  height: 54px;
  padding: 0;
  margin: 0;
  border-radius: 50%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  background-color: #e1c79b;
}

.audio-player .plyr__controls__item.plyr__control:first-child:hover {
  background-color: #e1c79b;
}

.audio-player .plyr__controls__item.plyr__control:nth-child(3) {
  -ms-flex-order: -1;
      order: -1;
  margin-right: 50px;
}

.audio-player .plyr__controls__item.plyr__control:nth-child(4) {
  margin-left: 50px;
}

.audio-player .plyr__control svg {
  fill: #fff;
}

.audio-player .plyr__control:nth-child(3),
.audio-player .plyr__control:nth-child(4) {
  padding: 0;
}

.audio-player .plyr__control:nth-child(3) svg,
.audio-player .plyr__control:nth-child(4) svg {
  fill: #e1c79b;
}

.audio-player .plyr--audio .plyr__control.plyr__tab-focus,
.audio-player .plyr--audio .plyr__control:hover,
.audio-player .plyr--audio .plyr__control[aria-expanded=true] {
  background-color: transparent;
}

.audio-player .plyr__progress {
  left: 5px;
}

.audio-player .plyr--audio .plyr__progress__buffer {
  color: #333;
}

.audio-player .plyr--full-ui input[type=range] {
  color: #e1c79b;
  background-color: transparent;
}

.audio-player .plyr__progress input[type=range] {
  margin-bottom: 20px;
}

.audio-player .plyr__controls__item.plyr__progress__container {
  -ms-flex: 0 0 100%;
      flex: 0 0 100%;
  width: 100%;
  max-width: 100%;
  -ms-flex-order: -1;
      order: -1;
}

.author {
  font-size: 12px;
  color: #864e47;
  line-height: 18px;
}

.video-content {
  margin-bottom: 35px;
}

.video-content .plyr--video > .plyr__control--overlaid {
  display: none;
}

.video-content .plyr__control svg {
  fill: #e1c79b;
}

.video-content .plyr--full-ui input[type=range] {
  color: #e1c79b;
  background-color: transparent;
}

.video-content .plyr--video .plyr__control.plyr__tab-focus,
.video-content .plyr--video .plyr__control:hover,
.video-content .plyr--video .plyr__control[aria-expanded=true] {
  background-color: transparent;
}

.video-content__section {
  margin-bottom: 20px;
}

.video-content-container {
  padding: 35px;
  max-width: 1280px;
}

.video-content-container .remodal-close {
  margin-top: 10px;
  margin-right: 5px;
}

.video-content-container .remodal-close:before {
  display: none;
}

.video-content-container .remodal-close i {
  display: block;
  width: 35px;
  height: 35px;
  background: url("../img/close-icon.svg") 0 0 no-repeat;
}

.top-menu {
  margin-bottom: 30px;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

.top-menu::-webkit-scrollbar {
  width: 0;
  height: 0;
  display: none;
}

.top-menu__nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  width: 480px;
  margin: 0 auto;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

.top-menu__nav ul {
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 0;
  display: -ms-flexbox;
  display: flex;
  word-break: break-word;
}

.top-menu__nav ul li {
  -ms-flex: 0 0 auto;
      flex: 0 0 auto;
  margin-right: 20px;
}

.top-menu__nav ul li:last-child {
  margin-right: 0;
}

.top-menu__nav ul li a {
  font-size: 16px;
  color: #fff;
  line-height: 18px;
  transition: color 0.3s;
}

.top-menu__nav ul li a:hover {
  color: #e1c79b;
  text-decoration: none;
}

.top-panel {
  -ms-flex: none;
      flex: none;
  padding-top: 35px;
  margin-bottom: 35px;
}

.top-panel__inner {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center;
}

.top-panel__btn-burger {
  display: block;
  width: 25px;
  height: 25px;
  border: none;
  background-color: transparent;
  padding: 0;
}

.top-panel__btn-burger span {
  width: 15px;
  height: 3px;
  display: block;
  border: 1px solid #e1c79b;
  border-radius: 15px;
  background-color: transparent;
  position: relative;
}

.top-panel__btn-burger span:before {
  content: '';
  position: absolute;
  top: -5px;
  left: -1px;
  width: 15px;
  height: 3px;
  display: block;
  border: 1px solid #e1c79b;
  border-radius: 15px;
  background-color: transparent;
}

.top-panel__btn-burger span:after {
  content: '';
  position: absolute;
  bottom: -5px;
  left: -1px;
  width: 15px;
  height: 3px;
  display: block;
  border: 1px solid #e1c79b;
  border-radius: 15px;
  background-color: transparent;
}

.top-panel__lang {
  width: 24px;
  display: block;
}

.top-panel__lang img {
  max-width: 100%;
  height: auto;
}

.top-panel__btn-back {
  font-size: 16px;
  color: #e1c79b;
  line-height: 18px;
  display: inline-block;
  vertical-align: top;
  margin-top: 20px;
  margin-bottom: 20px;
  position: relative;
}

.top-panel__btn-back:before {
  content: '';
  position: absolute;
  right: 0;
  bottom: -3px;
  width: 0;
  height: 2px;
  background-color: #e1c79b;
  transition: width 0.3s, background-color 0.3s;
}

.top-panel__btn-back:hover {
  color: #e1c79b;
  text-decoration: none;
}

.top-panel__btn-back:hover:before {
  width: 100%;
}

.visiting-rules {
  padding-bottom: 50px;
}

.visiting-rules ul {
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 0;
}

.visiting-rules ul li {
  font-size: 14px;
  color: #fff;
  line-height: 18px;
  position: relative;
  padding-left: 10px;
  margin-bottom: 15px;
}

.visiting-rules ul li:before {
  content: '';
  position: absolute;
  top: 8px;
  left: 0;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background-color: #fff;
}

.your-feedback {
  margin-top: 30px;
}

.your-feedback__head {
  margin-bottom: 30px;
}

.your-feedback__title {
  margin-bottom: 20px;
}

.your-feedback__desc {
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 15px;
}

.your-feedback__inputs {
  margin-bottom: 20px;
}

.your-feedback__input {
  margin-bottom: 20px;
  border-bottom: 1px solid #e1c79b;
}

.your-feedback__input input {
  font-size: 18px;
  color: #e1c79b;
  line-height: 21px;
  border: none;
  background-color: transparent;
  width: 100%;
  padding-bottom: 10px;
}

.your-feedback__input ::-webkit-input-placeholder {
  font-size: 18px;
  color: #e1c79b;
}

.your-feedback__input ::-moz-placeholder {
  font-size: 18px;
  color: #e1c79b;
}

.your-feedback__input :-ms-input-placeholder {
  font-size: 18px;
  color: #e1c79b;
}

.your-feedback__input ::-ms-input-placeholder {
  font-size: 18px;
  color: #e1c79b;
}

.your-feedback__input ::placeholder {
  font-size: 18px;
  color: #e1c79b;
}

.your-feedback__textarea {
  border-bottom: 1px solid #e1c79b;
}

.your-feedback__textarea textarea {
  font-size: 18px;
  color: #e1c79b;
  line-height: 21px;
  border: none;
  background-color: transparent;
  width: 100%;
  padding-bottom: 10px;
  min-height: 80px;
  resize: none;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
}

.your-feedback__textarea ::-webkit-input-placeholder {
  font-size: 18px;
  color: #e1c79b;
}

.your-feedback__textarea ::-moz-placeholder {
  font-size: 18px;
  color: #e1c79b;
}

.your-feedback__textarea :-ms-input-placeholder {
  font-size: 18px;
  color: #e1c79b;
}

.your-feedback__textarea ::-ms-input-placeholder {
  font-size: 18px;
  color: #e1c79b;
}

.your-feedback__textarea ::placeholder {
  font-size: 18px;
  color: #e1c79b;
}

.your-feedback__btn-send {
  margin: 0 auto;
  display: block;
}

.popup-success {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  padding-top: 115px;
  background: rgba(0,0,0,0.8);
  display: none;
}

.popup-success__inner {
  padding: 20px 40px;
  background-color: #f9f4eb;
}

.popup-success__btn-close {
  background-color: transparent;
  border: none;
  display: block;
  width: 35px;
  height: 35px;
  padding: 0;
  margin-left: auto;
  -webkit-transform: translate(35px, -5px);
          transform: translate(35px, -5px);
}

.popup-success__btn-close i {
  display: block;
  width: 35px;
  height: 35px;
  background: url("../img/close-icon.svg") 0 0 no-repeat;
}

.popup-success__title {
  font-size: 24px;
  line-height: 28px;
  color: #000;
  margin-bottom: 20px;
}

.popup-success__text {
  margin-bottom: 70px;
}

.popup-success__text p {
  font-size: 14px;
  color: #000;
  line-height: 18px;
}

.popup-success__btn-ok:hover {
  color: #000;
  border-color: #000;
}

@-webkit-keyframes spinner {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spinner {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@media (min-width: 580px) {
  .about-us {
    margin: auto;
  }

  .catalog {
    margin: auto;
  }

  .contacts {
    margin: auto;
  }

  .privacy {
    margin: auto;
  }

  .search {
    margin: auto;
  }

  .showpiece {
    margin: auto;
  }

  .visiting-rules {
    margin: auto;
  }
}

@media (max-width: 960px) {
  .video-content-container {
    height: 400px;
  }
}

@media (max-width: 640px) {
  .full-contain {
    width: 1104px;
    padding-left: 40px;
    padding-right: 40px;
  }

  .main-menu__title {
    margin-bottom: 50px;
  }

  .video-content-container {
    height: 300px;
  }
}

@media (max-width: 480px) {
  .about-us {
    margin-left: -40px;
    margin-right: -40px;
  }

  .about-us__body {
    padding-left: 40px;
    padding-right: 40px;
  }

  .contacts {
    margin-left: -40px;
    margin-right: -40px;
  }

  .contacts__body {
    padding-left: 40px;
    padding-right: 40px;
  }

  .cookies__section {
    padding-left: 40px;
    padding-right: 40px;
  }

  .search__gloss-text {
    padding-right: 0;
  }

  .video-content__preview {
    margin-left: -40px;
    margin-right: -40px;
  }

  .video-content-container {
    height: 250px;
  }

  .your-feedback {
    padding-left: 40px;
    padding-right: 40px;
  }

  .popup-success__inner {
    width: 340px;
    padding-left: 25px;
    padding-right: 25px;
  }

  .popup-success__btn-close {
    -webkit-transform: translate(20px, -5px);
            transform: translate(20px, -5px);
  }
}

@media (max-width: 479px) {
  .top-menu__nav {
    -ms-flex-pack: start;
        justify-content: flex-start;
  }
}

@media (max-width: 440px) {
  .top-menu {
    margin-right: -30px;
  }
}

@media (max-width: 374px) {
  .showpiece__items {
    margin-left: -20px;
  }
}