.cookies
    width 100%
    position fixed
    bottom 0
    left 0
    padding-top 20px
    padding-bottom 20px
    background-color #D8D8D8
    z-index 55 

    &__section
        width 395px
        max-width 100%
        margin 0 auto

        @media (max-width 480px)
            padding-left 40px
            padding-right 40px

        p
            font-size 14px
            color #FFF
            line-height 16px
            margin-bottom 30px

            a
                color #000
                &:hover
                    color #000

    &__btn-ok
        &:hover
            color #000
            border-color #000    