<div block="cookies">
    <div elem="section">
        <p>
            Сайт использует IP адреса, cookie и данные геолокации Пользователей сайта, условия использования содержатся 
            в <a href="#">Политике по защите персональных данных.</a>
        </p>
        <button elem="btn-ok" class="btn-general js-btn-ok" type="button">OK</button>
    </div>
</div><!-- cookies -->