<div block="contacts">
    <div elem="section">
        <div elem="inner" class="contain">
            <div elem="map" id="location_map" style="width: 100%; height: 290px;"></div>
            <div elem="body">
                <h2>Адрес и контакты</h2>
                <p>
                    Москва, ул. Волхонка, 12
                </p>
                <p>
                    Проезд м. Кропоткинская, М. Боровицкая, М. Библиотека им. Ленина
                </p>
                <br>
                <h2>Время работы</h2>
                <p>
                    ВТ-ВС 10:00 – 18:00;
                </p>
                <p>
                    ПН – выходной;
                </p>
                <p>
                    в праздничные дни – 10:00 – 18:00;
                </p>
                <p>
                    1 января, 1 мая, 25 декабря – закрыто.
                </p>
            </div>
            {% include "your-feedback.html" %}
        </div>
    </div>
</div><!-- contacts -->