.contacts
    padding-bottom 50px

    @media (min-width 580px)
        margin auto

    @media (max-width 480px)
        margin-left -40px
        margin-right -40px

    &__map
        margin-bottom 30px

    &__body
        @media (max-width 480px)
            padding-left 40px
            padding-right 40px
     
                