.about-us
    padding-bottom 50px
    
    @media (min-width 580px)
        margin auto

    @media (max-width 480px)
        margin-left -40px
        margin-right -40px

    &__items
        margin-bottom 60px

        .owl-dots
            display flex
            justify-content center
            margin-top 20px
        
        .owl-dot
            width 10px
            height 10px
            border 1px solid transparent 
            border-radius 50%
            transition border-color .3s
            margin-right 10px
            &:last-child
                margin-right 0

            span 
                width 8px
                height 8px
                display block
                border-radius 50%
                background rgba(255, 255, 255, 0.2)
                transition background-color .3s    

            &.active
                border 1px solid #E1C79B

                span 
                    background-color transparent

    &__body
        font-size 14px
        line-height 18px

        h1
            margin-bottom 25px

        h2
            margin-bottom 20px

        p
            margin-bottom 15px

        @media (max-width 480px)
            padding-left 40px
            padding-right 40px    
