<div block="about-us">
    <div elem="section">
        <div elem="inner" class="contain">
            <div elem="items" class="js-about-us-slider owl-carousel">
                <div elem="item">
                    <img src="img/about-us-img.jpg" alt="">
                </div>
                <div elem="item">
                    <img src="img/about-us-img.jpg" alt="">
                </div>
                <div elem="item">
                    <img src="img/about-us-img.jpg" alt="">
                </div>
            </div>
            <div elem="body">
                <h1>О музее</h1>
                <h2>Общая информация</h2>
                <p>
                    Музей Часов — достопримечательность не только нашего города, но и всей России в целом. Коллекция Павла Васильевича Курдюкова, стала основой для создания первого в России Музея Часов. В экспозиции представлены часы XVIII—XX веков стран Западной Европы, России, Японии в корпусах из бронзы, мрамора, фарфора и дерева. В коллекции есть уникальные экспонаты — часы Франции, Англии XVII—XIX веков, русская диковинка мастеров Бронниковых.
                </p>
                <br>
                <h2>История</h2>
                <p>
                    Все началось с частных коллекций учителя средней школы и первого директора Музея Рудольфа Кафтана и писательницы-баронессы Марии фон Эбнер-Эшенбах. Во всем многообразии часов и часовых механизмов, собранных в музее, наглядно представлено, как изменялась и развивалась технология их изготовления.
                </p>
                <p>
                    Некоторые экспонаты музея имеют особое значение. К таковым относятся астрономические часы Cajetano, изготовленные в 1769 году, которые показывают не только время, но и определяют продолжительность дня и орбитальное расположение планет с сенсационной точностью. К интересным экземплярам относятся и напольные астрономические часы Йоахима Оберкирхера. Он же работал над часовым механизмом башенных часов собора Штефансдом (1699 г.)
                </p>
            </div>
        </div>  
    </div>
</div><!-- about-us -->