<div block="lang-selection">
    <div elem="section">
        <div elem="inner" class="contain">
            <div elem="title">{% include "logo.html" %}</div>
            <div elem="items">
                <a elem="link" href="#"><i elem="flag"><img src="img/flag-cz.png" alt=""></i>Česky</a>
                <a elem="link" href="#"><i elem="flag"><img src="img/flag-ru.png" alt=""></i>Русский</a>
                <a elem="link" href="#"><i elem="flag"><img src="img/flag-en.png" alt=""></i>English</a>
                <a elem="link" href="#"><i elem="flag"><img src="img/flag-de.png" alt=""></i>Deutsch</a>
                <a elem="link" href="#"><i elem="flag"><img src="img/flag-ch.png" alt=""></i>中國</a>
            </div>
        </div>
    </div>
</div><!-- lang-selection -->