.lang-selection
    height 100%
    // padding-top 50px
    padding-bottom 80px

    &__section
        height 100%
        display flex
        justify-content center
        align-items center
        flex-direction column

    &__inner
        margin auto
        

    &__title
        margin-bottom 40px

        .logo
            
            &__name
                margin 0 auto
                color #1b1b1b
                &:hover
                    color #1b1b1b

    &__items
        width 130px
        margin 0 auto
        display flex
        flex-direction column
        justify-content center
        margin-top auto

    &__link    
        color #864E47
        font-size 24px
        line-height 28px
        margin-bottom 25px
        display flex
        align-items center
        position relative
        &:last-child
            margin-bottom 0
        &:before
            content ''
            position absolute
            left 0
            bottom -3px
            width 0
            height 2px
            background-color #864E47
            transition width .3s, background-color .3s
        &:hover
            color #864E47
            text-decoration none
            &:before
                width 100%

    &__flag
        flex 0 0 24px
        width 24px
        max-width 24px
        margin-right 8px

        img 
            max-width 100%
            height auto        