<div block="top-menu">
    <nav elem="nav">
        <ul>
            <li><a href="#">История</a></li>
            <li><a href="#">Машины</a></li>
            <li><a href="#">Механизмы</a></li>
            <li><a href="#">Бренды</a></li>
        </ul>
    </nav>
</div><!-- top-menu -->