.top-menu
    margin-bottom 30px
    overflow-x auto

    @media (max-width 440px)
        margin-right -30px
    
    &::-webkit-scrollbar
        width 0
        height 0
        display none

    &__nav
        display flex
        justify-content center
        width 480px
        margin 0 auto
        overflow-x auto

        @media (max-width 479px)
            justify-content flex-start

        ul
            list-style-type none
            padding-left 0
            margin-bottom 0
            display flex
            word-break break-word

            li
                flex 0 0 auto
                margin-right 20px
                &:last-child
                    margin-right 0

                a
                    font-size 16px
                    color #FFF
                    line-height 18px
                    transition color .3s
                    &:hover
                        color #e1c79b
                        text-decoration none