<div block="top-panel">
    <div elem="section" class="full-contain">
        <div elem="inner">
            <button elem="btn-burger" class="js-btn-burger" type="button"><span></span></button>
            {% include "logo.html" %}
            <a elem="lang" href="index.html"><img src="img/flag-ru.png" alt=""></a>
        </div>
        {% if pageTitle != "Поиск" and pageTitle != "Каталог" %}
        <a elem="btn-back" href="#">Назад</a>
        {% endif %}
    </div>
</div><!-- top-panel -->