.top-panel
    flex none
    padding-top 35px
    margin-bottom 35px

    &__inner
        display flex
        justify-content space-between
        align-items center

    &__btn-burger
        display block
        width 25px
        height 25px
        border none
        background-color transparent
        padding 0   

        span
            width 15px
            height 3px
            display block
            border 1px solid #E1C79B
            border-radius 15px
            background-color transparent
            position relative
            &:before
                content ''
                position absolute
                top -5px
                left -1px
                width 15px
                height 3px
                display block
                border 1px solid #E1C79B
                border-radius 15px
                background-color transparent
            &:after
                content ''
                position absolute
                bottom -5px
                left -1px
                width 15px
                height 3px
                display block
                border 1px solid #E1C79B
                border-radius 15px
                background-color transparent    

    &__lang
        width 24px
        display block

        img 
            max-width 100%
            height auto            

    &__btn-back
        font-size 16px
        color #E1C79B     
        line-height 18px
        display inline-block
        vertical-align top
        margin-top 20px
        margin-bottom 20px
        position relative
        &:before
            content ''
            position absolute
            right 0
            bottom -3px
            width 0
            height 2px
            background-color #E1C79B
            transition width .3s, background-color .3s
        &:hover
            color #E1C79B     
            text-decoration none
            &:before
                width 100%
            