.logo
    

    &__name
        font-size 32px
        color #FFF
        line-height 24px
        font-weight bold
        text-align center
        width 100px
        display block
        &:hover
            color #fff
            text-decoration none
