<div block="main-menu" class="js-main-menu">
    <div elem="section" class="full-contain">
        <button elem="btn-close" class="js-btn-close" type="button">Закрыть</button>
        <div elem="inner">
            <div elem="title">музей <br> часов</div>
            <nav elem="nav">
                <ul>
                    <li><a href="#">Выбор языка</a></li>
                    <li><a href="#">Поиск экспоната</a></li>
                    <li><a href="#">Каталог</a></li>
                    <li><a href="#">О музее</a></li>
                    <li><a href="#">Правила посещения</a></li>
                    <li><a href="#">Контакты</a></li>
                </ul>
            </nav>
            <a class="polic-privacy" href="#">Политика конфиденциальности <br> и обработки персональных данных</a>
        </div>
    </div>
</div><!-- main-menu -->