.main-menu
    width 100%
    height 100%
    display flex
    background-color #F9F4EB
    position fixed
    top 0
    left 0
    opacity 0
    visibility hidden
    transition opacity .3s, ease .3s
    // position absolute
    z-index -1
    

    &.show-main-menu
        opacity 1
        visibility visible
        z-index 50

    &__section  
        margin auto
        // padding-top 100px
        // padding-bottom 50px
        // height 100vh
        // overflow-y auto

    &__btn-close
        font-size 16px
        color #864E47
        line-height 18px
        text-align center
        background-color transparent
        padding 0
        border none
        position relative
        &:before
            content ''
            position absolute
            right 0
            bottom -2px
            width 0
            height 2px
            background-color #864E47
            transition width .3s, background-color .3s
        &:hover
            text-decoration none
            &:before
                width 100%
            

    &__inner
        width 235px
        margin 0 auto

    &__title
        font-size 32px
        color #1B1B1B
        font-weight bold
        line-height 24px
        text-align center
        margin-top 30px
        margin-bottom 30px

        @media (max-width 640px)
            margin-bottom 50px

    &__nav

        ul
            padding-left 0
            margin-bottom 35px
            list-style-type none

            li
                margin-bottom 25px
                &:last-child
                    margin-bottom 0

                a 
                    font-size 24px
                    color #864E47   
                    line-height 28px
                    position relative
                    &:before
                        content ''
                        position absolute
                        left 0
                        bottom -3px
                        width 0
                        height 2px
                        background-color #864E47
                        transition width .3s, background-color .3s
                    &:hover
                        text-decoration none
                        &:before
                            width 100%

.polic-privacy
    font-size 14px
    line-height 16px
    color #864E47
    display block
    &:hover
        color #864E47
