.privacy
    padding-bottom 50px
    @media (min-width 580px)
        margin auto

    &__inner

        p
            a
                font-size 14px
                line-height 18px
                color #FFF
                &:hover
                    color #fff