<div block="privacy">
    <div elem="section">
        <div elem="inner" class="contain">
            <h1>Политика конфиденциальности  и обработки персональных данных</h1>
            <p>АО «Бизнес Ньюс Медиа» берет на себя обязательства по защите Ваших персональных данных. Просим Вас ознакомиться с данной Политикой по защите персональных данных (далее — Политика).</p>
            <p>Политика определяет условия и цели сбора, хранения, защиты, обработки и распространения информации о пользователях ресурса <a href="www.vedomosti.ru">www.vedomosti.ru</a> (далее Сайт).</p>
            <p>Получение и использование личной информации</p>
            <p>Пользователи Сайта, используя Сайт, дают свое согласие на использование Сайтом их IP адреса, cookie и данных геолокации в маркетинговых и статистических целях с момента начала пользования Сайтом и ознакомления с настоящими Правилами, в случае несогласия с данным условием Пользователи должны покинуть Сайт.</p>
            <p>Пользователи Сайта предоставляют АО «Бизнес Ньюс Медиа» как оператору персональных данных свои персональные данные, в том числе имя, фамилию, а также свои контактные данные и полное и безоговорочное, совершенное своей волей согласие на обработку «Бизнес Ньюс Медиа» (в том числе сбор, систематизацию, накопление, уточнение (обновление, изменение), использование, распространение (в том числе передачу), обезличивание, блокирование, уничтожение персональных данных, бессрочное хранение) вышеуказанных данных в электронном виде и/или на бумажных носителях для целей рассылки приглашений на официальные мероприятия, новостной рассылки, информирования о новых продуктах АО «Бизнес Ньюс Медиа» и иной информации, в том числе рекламного характера, посредством почтового отправления либо электронной почты.</p>
            <p>Датой выдачи письменного согласия на обработку персональных данных пользователя, выражающегося в отправке анкеты или формы обратной связи посредством электронной связи на Сайте, является дата ознакомления с настоящей Политикой.</p>
            <p>Указанное в настоящем пункте согласие действует бессрочно и может быть отозвано пользователем путем письменного уведомления, направленного в адрес АО «Бизнес Ньюс Медиа» заказным почтовым отправлением или по электронной почте, указанным ниже.</p>
            <p>Для уточнения, отзыва согласия на обработку, блокирования либо уничтожения персональных данных Пользователь должен направить письменное уведомление в адрес АО «Бизнес Ньюс Медиа»: 127018, Москва, ул. Полковая, д.3, стр.1, пом. I, этаж 2, ком. 21.  заказным почтовым отправлением или по электронной почте personal@vedomosti.ru</p>
            <p>Раскрытие полученной информации третьим лицам</p>
            <p>АО «Бизнес Ньюс Медиа» вправе передать персональную информацию о пользователе третьим лицам в случае, если:</p>
            <p>— пользователь сам изъявил желание раскрыть эту информацию;</p>
            <p>— без этого пользователь не может воспользоваться неким продуктом или услугой;</p>
            <p>— этого требует российское, международное законодательство и/или органы власти с соблюдением законной процедуры;</p>
            <p>— пользователь нарушает пользовательское соглашение с Сайтом</p>
            <p>Доступ к личной информации</p>
            <p>В соответствии с Федеральным законом РФ № 152-ФЗ «О персональных данных» вся собранная, хранящаяся и обработанная информация о пользователях считается информацией ограниченного доступа, если иное не установлено законодательством Российской Федерации.</p>
            <p>АО «Бизнес Ньюс Медиа» принимает на себя обязательства сохранения конфиденциальности персональных данных пользователя. АО «Бизнес Ньюс Медиа» обязуется принимать все разумные меры по защите персональной информации пользователей от уничтожения, искажения или разглашения.</p>
            <p>Пользователь вправе самостоятельно вносить изменения/дополнения через свой профиль на Сайтах www.vedomosti.ru и <a href="http://hbr-russia.ru/">http://hbr-russia.ru/</a> .</p>
        </div>
    </div>
</div><!-- privacy -->  