<div block="catalog">
    <div elem="section">
        <div elem="inner" class="contain">
            <div elem="items">
                <a elem="item" href="#" >
                    <span elem="img" style="background: url('img/catalog-img.png') 50% 0 no-repeat;"></span>
                    <span elem="body">
                        <span elem="desc">История. Часть 1</span>
                        <span elem="name">Солнечные часы</span>
                    </span>
                </a>
                <a elem="item" href="#" >
                    <span elem="img" style="background: url('img/catalog-img2.png') 50% 0 no-repeat;"></span>
                    <span elem="body">
                        <span elem="desc">История. Часть 2</span>
                        <span elem="name">Песочные часы</span>
                    </span>
                </a>
                <a elem="item" href="#" >
                    <span elem="img" style="background: url('img/catalog-img3.png') 50% 0 no-repeat;"></span>
                    <span elem="body">
                        <span elem="desc">История. Часть 3</span>
                        <span elem="name">Морской хронометр</span>
                    </span>
                </a>
            </div>
        </div>
    </div>
</div><!-- catalog -->