.catalog

    @media (min-width 580px)
        margin auto

    &__item
        width 480px
        max-width 100%
        height 150px
        display flex
        flex-direction column
        justify-content flex-end
        margin-bottom 30px
        padding-right 50px
        padding-bottom 25px
        padding-left 45px
        border-radius 8px
        position relative
        overflow hidden
        &:hover
            text-decoration none

            & ^[0]
                
                &__img
                    transform scale(1.1)
    
    &__img
        width 100%
        height 100% 
        position absolute
        top 0
        left 0
        transition transform 1.5s
    
    &__body
        display flex
        flex-direction column
        justify-content flex-end
        position relative
        z-index 2    

    &__desc
        font-size 14px
        line-height 16px
        color #BBB  
        margin-bottom 5px

    &__name
        font-size 20px
        color #fff
        font-weight bold
        line-height 23px    