.search
    padding-bottom 50px
    
    @media (min-width 580px)
        margin auto

    &__not-found
        text-align center
        margin-bottom 70px
    
    &__not-found-icon
        width 100px
        margin 0 auto 25px

        img 
            max-width 100%
            height auto    
    
    &__not-found-title
        font-size 20px
        line-height 23px
        text-align center
        margin-bottom 25px

    &__not-found-text
        font-size 14px
        line-height 18px
        text-align center
        color #BBB 
        width 235px
        margin 0 auto

    &__form
        width 395px
        max-width 100%

        &--error-resault
            margin 0 auto    

    &__inputs
        display flex
        margin-bottom 45px
        border-bottom 1px solid #E1C79B

        input
            font-size 18px
            color #E1C79B 
            line-height 21px
            border none 
            background-color transparent
            width 100%
            padding-bottom 10px

        ::placeholder
            font-size 18px
            color #E1C79B 
    
    &__btn-s
        flex 0 0 20px
        width 20px
        max-width 20px
        height 20px
        display block
        padding 0
        border none
        background-color transparent

        .svg-icon--search-icon
            width 20px
            display block
            fill #E1C79B
                
    &__gloss
        margin-top 50px

    &__gloss-title
        font-size 18px
        line-height 21px
        font-weight bold
        margin-bottom 25px

            
    
    &__gloss-text
        font-size 14px
        line-height 18px 
        padding-right 65px   

        p
            margin-bottom 25px

        @media (max-width 480px)
            padding-right 0