<div block="search">
    <div elem="section">
        <div elem="inner" class="contain">
            {% if pageTitle == "Ошибка кода" %}

            <div elem="not-found">
                <div elem="not-found-icon"><img src="img/article-icon.svg" alt=""></div>
                <div elem="not-found-title">А где экспонат?</div>
                <div elem="not-found-text">Наверное, вы ошиблись при вводе кода экспоната. Пожалуйста, попробуйте еще раз.</div>
            </div>

            {% endif %}

            <form elem="form" {% if pageTitle == "Ошибка кода" %}mods="error-resault"{% endif %}>
                <div elem="inputs">
                    <input type="text" placeholder="Ввести код экспоната" required>
                    <button elem="btn-s" type="submit">{{ _icon('search-icon', { tag: 'i' }) }}</button>
                </div>
                <button elem="btn-qr-code" class="btn-general" type="button">Или сканировать QR-код</button>
            </form>

            {% if pageTitle == "Поиск" %}

            <div elem="gloss">
                <div elem="gloss-title">Где найти код экспоната и QR-код</div>
                <div elem="gloss-text">
                    <p>
                        Код экспоната находится рядом с самим экспонатом либо на табличке экспоната, либо на стеклянном боксе спереди. Там же Вы найдете и QR-код.
                    </p>
                    <p>
                        Для активации QR-кода просто наведите на него камеру Вашего смартфона, Вам будет предложено перейти по ссылке в появившемся всплывающем окне. Перейдите по ней и сможете увидеть описание нужного Вам экспоната.
                    </p>
                </div>
            </div>

            {% endif %}
        </div>
    </div>
</div><!-- search -->