<div block="showpiece">
    <div elem="section">
        <div elem="inner" class="contain">
            <div elem="items" class="js-showpiece-slider owl-carousel">
                <div elem="item">
                    <div elem="img"><img src="img/showpiece-img.png" alt=""></div>
                </div>
                <div elem="item">
                    <div elem="img"><img src="img/showpiece-img.png" alt=""></div>
                </div>
                <div elem="item">
                    <div elem="img"><img src="img/showpiece-img.png" alt=""></div>
                </div>
            </div>
            <div elem="body">
                <div elem="head">
                    <div elem="brends">Бренды</div>
                    <div elem="model">R4Y8Q7</div>
                </div>
                <h1 elem="title">Ronde Louis Cartier</h1>
                <h2>Описание изделия</h2>
                <p>
                    Часы Ronde Louis Cartier, 36 мм, механизм с автоматическим подзаводом, калибр 1847 MC. Корпус из розового золота 18 карат, заводная головка с зернистой отделкой и сапфиром в форме кабошона, посеребренный циферблат, гильошированный в технике flinqué, брегетные стрелки из вороненой стали, сапфировое стекло, ремешок из полуматовой кожи аллигатора коричневого цвета, стандартная застежка 18 мм из розового золота 18 карат, задняя крышка из сапфирового стекла. Высота корпуса: 9 мм. Водонепроницаемость до 3 бар (30 метров).
                </p>
                <div block="audio-player">
                    <div elem="player">
                        <audio id="player" class="js-media-player" controls>
                            <source src="https://cdn.plyr.io/static/demo/Kishi_Bashi_-_It_All_Began_With_a_Burst.mp3" type="audio/mp3" />
                            <source src="https://cdn.plyr.io/static/demo/Kishi_Bashi_-_It_All_Began_With_a_Burst.ogg" type="audio/ogg" />
                        </audio>
                    </div>
                    <div class="author">Ирина Шейк о часах Ronde Louis Cartier</div>
                </div>
                <p>
                    Каждое украшение Cartier – это гармония всех его частей. Поэтому количество и каратность драгоценных камней варьируются от изделия к изделию. Всю дополнительную информацию об изделиях вы можете получить у наших представителей.
                </p>
                <div block="video-content">
                    <div elem="section">
                        {# <a elem="preview" href="" data-remodal-target="video"><img src="img/video-preview.png" alt=""></a> #}
                        <div elem="preview">
                            <video poster="img/poster.jpg" id="player_video" playsinline controls>
                                <source src="img/video.mp4" type="video/mp4" />
                                <source src="img/video.webm" type="video/webm" />

                                <track kind="captions" label="English captions" src="img/captions.vtt" srclang="en" default />
                            </video>
                        </div>
                    </div>
                    <div class="author">Криштиану Роналдо о часах Cartier</div>
                </div>
                <h2>О коллекции</h2>
                <p>
                    Римские цифры, синие брегетные стрелки, заводное устройство с сапфиром в форме кабошона, шкала в стиле «железная дорога». Ronde Louis Cartier — классика часового искусства Cartier.
                </p>
            </div>
        </div>
    </div>
</div><!-- showpiece -->