.showpiece
    padding-bottom 40px
    
    @media (min-width 580px)
        margin auto

    &__items
        width 285px
        // padding-right 45px
        // padding-left 45px
        margin-right auto 
        margin-bottom 60px
        margin-left auto
        position relative
        &:before
            content ''
            position absolute
            top 20px
            left 17px
            width 250px
            height 251px
            background-color #864E47
            border-radius 7px
            z-index 2
        &:after
            content ''
            position absolute
            top 45px
            left -9px
            width 302px
            height 199px
            background-color rgba(134, 78, 71, 0.5)
            border-radius 7px 
            z-index 1   

        @media (max-width 374px)    
            margin-left -20px

        .owl-stage-outer
            z-index 5    

        .owl-item
            display flex
            justify-content center    

        .owl-dots
            display flex
            justify-content center
            margin-top 20px
        
        .owl-dot
            width 10px
            height 10px
            border 1px solid transparent 
            border-radius 50%
            transition border-color .3s
            margin-right 10px
            &:last-child
                margin-right 0

            span 
                width 8px
                height 8px
                display block
                border-radius 50%
                background rgba(255, 255, 255, 0.2)
                transition background-color .3s    

            &.active
                border 1px solid #E1C79B

                span 
                    background-color transparent

    &__item
        width 200px
        display flex
        align-items center
        justify-content flex-start
        border-radius 7px               
        background #FFF
        // box-shadow 0px 2px 17px rgba(0, 0, 0, 0.5)

    &__img
        flex 0 0 175px
        width 175px   
        max-width 175px
        padding-top 25px
        padding-bottom 35px
        margin 0 auto

        img 
            max-width 100%  
            height auto 

    &__head
        font-size 14px
        line-height 16px
        display flex
        justify-content space-between
        margin-bottom 15px

    &__brends
        color #BBB 
        
    &__model
        color #e1c79b

.audio-player
    margin-top 30px
    margin-bottom 30px

    &__player
        margin-bottom 30px

    .plyr__controls
        display flex
        flex-wrap wrap
        justify-content center
        background-color transparent
        padding 0

    .plyr__controls__item.plyr__control  
        &:first-child
            width 54px
            height 54px
            padding 0
            margin 0
            border-radius 50%
            display flex
            justify-content center
            align-items center
            background-color #E1C79B
            &:hover
                background-color #E1C79B

        &:nth-child(3)
            order -1    
            margin-right 50px

        &:nth-child(4)
            margin-left 50px


    .plyr__control 
        svg        
            fill #fff

        &:nth-child(3), 
        &:nth-child(4)
            padding 0

            svg        
                fill #E1C79B

    .plyr--audio .plyr__control.plyr__tab-focus, .plyr--audio .plyr__control:hover, .plyr--audio .plyr__control[aria-expanded=true]
        background-color transparent            


    .plyr__progress
        left 5px        

    .plyr--audio .plyr__progress__buffer
        color #333

    .plyr--full-ui input[type=range]
        color #e1c79b
        background-color transparent

    .plyr__progress input[type=range]
        margin-bottom 20px          
    
    .plyr__controls__item.plyr__progress__container
        flex 0 0 100%
        width 100%
        max-width 100%
        order -1      

.author
    font-size 12px
    color #864E47
    line-height 18px


.video-content
    margin-bottom 35px
    
    .plyr--video
        > .plyr__control--overlaid
            display none

    .plyr__control

        svg 
            fill #E1C79B   

    .plyr--full-ui input[type=range]
        color #e1c79b
        background-color transparent        

    .plyr--video .plyr__control.plyr__tab-focus, .plyr--video .plyr__control:hover, .plyr--video .plyr__control[aria-expanded=true]
        background-color transparent          

    &__section
        margin-bottom 20px

    &__preview
        // display block
        // height 270px

        // img 
        //     max-width 100%  
        //     height auto
        
        @media (max-width 480px)
            margin-left -40px
            margin-right -40px

.video-content-container
    padding 35px
    max-width 1280px

    @media (max-width 960px)
        height 400px

    @media (max-width 640px)
        height 300px    

    @media (max-width 480px)
        height 250px 

    .remodal-close
        margin-top 10px
        margin-right 5px
        &:before
            display none

        i 
            display block
            width 35px
            height 35px
            background url('../img/close-icon.svg') 0 0 no-repeat   