html,
body
    color #fff
    margin 0
    padding 0
    background-color #1B1B1B
    position relative

    &.home
        background-color #F9F4EB

html
    min-height 100%
    min-height 100vh

body
    &.scroll-lock
        overflow hidden

.app
    display flex
    flex-direction column
    height 100%
    height 100vh

    &__wrapper
        display flex
        flex-direction column
        height 100%
        height 100vh

    &__content
        display flex
        flex 1 0 auto

    &__main
        flex 1
        display flex
        flex-direction column

*
    outline none !important

h1
    font-size 24px
    color #FFF
    line-height 28px
    margin-bottom 30px

h2
    font-size 18px
    color #FFF
    line-height 21px
    margin-bottom 20px

p
    font-size 14px
    line-height 18px
    color #FFF
    margin-bottom 15px

.contain
    width 480px
    max-width 100%
    margin 0 auto

.full-contain
    width 1024px +55px + 50px
    max-width 100%
    padding-left 55px
    padding-right 50px
    margin 0 auto

    @media (max-width 640px)
        width 1024px + 40px + 40px
        padding-left 40px
        padding-right 40px

.btn-general
    font-size 16px
    color #000
    line-height 18px
    text-align center
    padding 13px 20px
    width 395px
    max-width 100% 
    border 1px solid transparent
    border-radius 8px
    background-color #E1C79B
    transition border-color .3s, background-color .3s, color .3s
    &:hover
        color #E1C79B
        background-color transparent
        border-color #E1C79B

.menu-wrp
    position relative
    &:before
        content ''
        position absolute
        top 10px
        right -70px
        width 45px
        height 0
        box-shadow -20px 0px 20px 20px rgba(21, 21, 21, 0.72)